#site_content {
    margin: 0 auto;
    max-width: 1400px;
}

nav {
    display: flex;
}

.icon img {
    width: 120px;
    height: 120px;
}

.nav_list {
    width: 100%;
}

.nav_list ul {
    display: flex;
    justify-content: space-between;
}

.news_card {
    border: 2px black solid;
    width: 20%;
    margin: 25px;
    padding: 5px;
    padding-bottom: 20px;
}

.news_section {
    display: flex;
    flex-wrap: wrap;
}

.product_card {
    border: 1px black solid;
    width: 28%;
    margin: 15px;
    padding: 10px;
}

.category_products {
    display: flex;
    flex-wrap: wrap;
}

.category-card {
    padding-left: 10px;
    border-left: 3px black solid;
}

.counter-btn {
    width: 30px;
}

.counter-btn-minus {
    color: white;
    background-color: black;
}

.counter-btn-plus {
    color: black;
    background-color: white;
}

.item-counters {
    display: flex;
}
